@charset "utf-8";
@import "normalize";
// BEGIN MATERIALIZE
@import "materialize/components/color";
// You can customize the theme colors here:
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';
// END MATERIALIZE
@import "stickyfooter";
@import "custom";
