<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <h1><i class="fa fa-thumbs-up"></i> Ready To Roll.</h1>
      <p>Boilerplate made by <i class="fa fa-github"></i> <a href="https://github.com/dannyvassallo/middleman4-boiler">dannyvassallo</a></p>
    </div>
  </div>
</div>
